.form-block {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-label {
    width: 16%;
    padding: 5px 0;
    font-size: 18px;
}

.block-input {
    width: 84%;
    box-sizing: border-box;
}

.input {
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.form-button {
    margin-left: 16%;
    padding: 5px 0;
}

.btn {
    font-size: 16px;
    padding: 5px 10px;
    background: #0557fa;
    color: #fff;
    border: 1px solid #0557fa;
    border-radius: 4px;

}