.block-user {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
}
.online-user {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0 15px;
    border-radius: 4px;
}

.block-chat {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}
.chat {
    border: 1px solid #ccc;
    height: 400px;
    overflow: auto;
    vertical-align: top;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 0 10px;
}

.chat-input {
    width: 90%;
    margin-right: 10px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.chat-send{
    padding: 5px 10px;
    font-size: 20px;
    background: #0557fa;
    color: #fff;
    border: 1px solid #0557fa;
    border-radius: 4px;
}

.chat-send:disabled {
    background-color: #c7c6c6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

