.main-nav {
    display: flex;
    padding: .8rem 1rem;
    background: #282c34;
    margin-bottom: 0;
}

.logo {
    padding-top: 0.625px;
    padding-bottom: 0.625px;
    font-size: 1.25rem;
    text-decoration: none;
    color: #fff;

}

.nav-ul {
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.nav-item {
    list-style: none;
}

.nav-link {
    padding: .5rem 1rem;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.title-username {
    font-size: 18px;
    color: #fff;
    display: inline-block;
    padding: 0 18px;
    border-right: 2px solid #fff;
}

.logout-btn {
    background: transparent;
    border: transparent;
    font-size: 18px;
    color: #fff;
}